<!DOCTYPE html>
<html>
  <head>
    <title>Faire une prédiction</title>
  </head>
  <body style="background-image: url({{image_url}});"></body>
    <h1>Faire une prédiction</h1>
    <form method="post" action="/result">
      <label for="outcome">Outcome :</label><br>
      <input type="text" id="outcome" name="outcome"><br>
      <label for="age">Age :</label><br>
      <input type="text" id="age" name="age"><br>
      <label for="gendera">Gender :</label><br>
      <input type="text" id="gendera" name="gendera"><br>
      <label for="BMI">BMI :</label><br>
      <input type="text" id="BMI" name="BMI"><br>
      <label for="hypertensive">Hypertensive :</label><br>
      <input type="text" id="hypertensive" name="hypertensive"><br>
      <label for="atrialfibrillation">Atrial Fibrillation :</label><br>
      <input type="text" id="atrialfibrillation" name="atrialfibrillation"><br>
      <label for="deficiencyanemias">Deficiency Anemias :</label><br>
      <input type="text" id="deficiencyanemias" name="deficiencyanemias"><br>
      <label for="depression">Depression :</label><br>
      <input type="text" id="depression" name="depression"><br>
      <label for="temperature">Temperature :</label><br>
      <input type="text" id="temperature" name="temperature"><br>
      <label for="Urine output">Urine output :</label><br>
      <input type="text" id="Urine output" name="Urine output"><br>
      <input type="submit" value="Soumettre">
    </form>
  </body>
</html>
